<!-- prettier-ignore -->

{% extends "base.html" %}

{% load static %}

{% block page_title %}All Challenges{% endblock page_title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "challenges/styles.css" %}">
{% endblock css_files %}

{% block page_content %}
{% include "challenges/includes/header.html" %}
<h1>All Challenges</h1>
<ul>
  {% for month in months %}
  <li>
    <a href="{%url "month-challenge" month=month %}">{{month|title}}</a>
  </li>
  {% endfor %}
</ul>
{% endblock page_content %}

